<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Add Person </title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!----------------------------->

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>


    <!-------------------------->

    <link th:rel="stylesheet" th:href="@{/assets/bootstrap-select/css/bootstrap-select.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap-select-country/css/bootstrap-select-country.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap-select-country/css/bootstrap4-support.css} "/>

    <!-------------------------->
</head>

<body>
<!-- Navigation  MENU Part  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Country Population: People add/remove Project v.0.1</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!----- Menu bar ended.--------->

<div align="center">
    <h1>Enter Person</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${people}" method="post">

        <table border="0" cellpadding="15">
            <tr>
                <td> Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="*{familyName}" /></td>
            </tr>

        <tr>
            <td>
                <div class="container">
                        <div class="form-group row">
                           <label for="birthdate">Date of Birth:</label>
                        </div>
                </div>
            </td>
            <td>
                 <div class="input-group date">
                    <input type="text" class="form-control" id="birthdate" autocomplete="off" th:field="*{birthdate}"/>
<!--                    <div class="input-group-append">-->
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
<!--                    </div>-->
                 </div>
             </td>
        </tr>

        <tr>
            <td> <strong>Country:  </strong></td>
            <td>
                 <select class="form-control selectpicker countrypicker" id="country" th:field="*{country}" data-flag="true" />
            </td>

        </tr>

        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>

        <tr>
            <td>Marriage:</td>
            <td><input type="text" th:field="*{marriage}" /></td>
        </tr>

        <tr>
            <td>Nationality:</td>
            <td><input type="text" th:field="*{nationality}" /></td>
        </tr>

        <tr>
            <td>Education:</td>
            <td><input type="text" th:field="*{education}" /></td>
        </tr>
         <tr>
            <td colspan="2" align="right">
                <!--button type="submit">Save</button-->

            <button class="btn btn-primary" type="submit">Save in DB</button>
            </td>
         </tr>
        </table>
    </form>
</div>

<!----------------  Date ------------->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

<!------------------------------------>

<!-----------------Country ----------->
    <script th:src="@{/assets/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/assets/bootstrap-select-country/js/bootstrap-select-country.min.js}"></script>
<!------------------------------------>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "mm/dd/yyyy"
    });

    $('.countrypicker').countrypicker();
</script>

</body>
</html>