<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Sales Manager Application</title>
</head>
<body>
<div align="center">
    <h1>People Information</h1>
    <a href="/new">Enter New person</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Family Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Marage</th>
            <th>Nationality</th>
            <th>Education</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="people : ${peopleList}">
            <td th:text="${people.id}">ID</td>
            <td th:text="${people.name}"> Name</td>
            <td th:text="${people.familyName}">Family Name</td>
            <td th:text="${people.age}">Age</td>
            <td th:text="${people.address}">Address</td>
            <td th:text="${people.marage}">Marrage</td>
            <td th:text="${people.nationality}">Nationality</td>
            <td th:text="${people.education}">Eduction</td>

            <td>
                <a th:href="@{'/edit/' + ${people.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${people.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>