<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<div class="form-group row">
    <label for="firstName" class="col-md-2 text-right text-muted"> First Name</label>

    <div class="col-md-10">
        <input type="text" class="form-control form-control-sm" id="name" name="name" th:field="${people.firstName}"
               placeholder="First Name"  th:errorclass="is-invalid">

        <div th:if="${#fields.hasErrors('firstName')}"
             class="invalid-feedback" th:errors="*{firstName}"></div>
    </div>
</div>

<div class="form-group row">
    <label for="lastName" class="col-md-2 text-right text-muted"> Last Name</label>

    <div class="col-md-10">
        <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" th:field="${people.lastName}"
               placeholder="Last Name" name="lastName" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback" th:errors="*{lastName}"></div>
    </div>
</div>
</div>
</div>

<div class="card">
    <div class="card-header dynamic-update-rows">
        Contact
        <button type="button" name="addContact" class="btn btn-sm btn-success float-right" data-dynamic-update-rows-url="/addContact">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="card-body">

        <table class="table dynamic-update-rows" style="width: 100%">


            <tbody id="dynamicTableContents">
            <tr th:fragment="contacts" th:each="contact, rowStat: ${people.contactList}">
                <td th:text="${rowStat.count}"> 1 </td>
                <td >
                    <input type="hidden" th:field="${people.contactList[__${rowStat.index}__].id}">
                    <select class="form-control form-control-sm"
                            th:field="${people.contactList[__${rowStat.index}__].contactType}"
                            th:field="${people.contactList[__${rowStat.index}__].contactType}"
                            th:errorclass="is-invalid">
                        <option selected="selected" readonly value="">Select the Options</option>
                        <option value="email"> Email</option>
                        <option value="home"> Home</option>
                        <option value="business">Business</option>
                        <option value="mobile">Mobile</option>

                    </select>

                    <div
                            th:if="${#fields.hasErrors('$people.contactList[__${rowStat.add_new_person}__].contactType')}"
                            class="invalid-feedback"
                            th:errors="${people.contactList[__${rowStat.index}__].contactType}">
                    </div>

                </td>

                <td> <input class="form-control form-control-sm"
                            th:field="${people.contactList[__${rowStat.index}__].contactName}"
                            th:errorclass="is-invalid" />
                    <div th:if="${#fields.hasErrors('${people.contactList[__${rowStat.index}__].contactType}')}"
                         class="invalid-feedback"
                         th:errors="${people.contactList[__${rowStat.index}}__].contactType}"></div>
                </td>

                <td> <input class="form-control form-control-sm"
                            th:field="${people.contactList[__${rowStat.index}__].contactName}"
                            th:errorclass="is-invalid" />
                    <div th:if="${#fields.hasErrors('$person.contactList[__${rowStat.index}__].contactName')}"
                         class="invalid-feedback"
                         th:errors="${people.contactList[__${rowStat.index}__].contactName}">

                    </div>
                </td>

                <td>
                    <div class="btn-group">
                        <button type="button" name="removeDynamicRow"
                                th:value="${rowStat.index}" class="btn btn-sm btn-danger"
                                data-dynamic-update-rows-url="/removeContact">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<button type="submit" class="btn btn-primary btn-block"> Submit form </button>
<br />
<br />


<div class="submit" class="btn btn-primary btn-block">
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role = "alert">
        <strong> Error: </strong> <span th:text="${errorMessage}"> Error</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> * </span>
        </button>
    </div>

    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> Success: </strong> <span th:text="${successMessage}"> Success</span>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> * </span>
        </button>

        <span ><a th:href="@{/list}" class="btn btn-sm btn-primary ml-2 mr-2">
                <i class="fas fa-list-ol"> </i>
                        GO to People List  </a> </span>
    </div>
    <div id="summary"> </div>
</div>
</form>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script>
    $(document).ready(function() {

        $("#personContactForm").validate({focusCleanup: true, errorClass: "invalid",
            showErrors: function(errorMap, errorList) {
                $("#summary").html("Your form contains "
                    + this.numberOfInvalids()
                    + " errors, please fix them before submit.");
                this.defaultShowErrors();
            }
        });

        //$("input[name^='contactList']").each(function() {
        $("input[name$='contactName']").each(function() {
            $(this).rules('add', {
                required : true,
                rangelength : [ 10, 40 ]
            });
        });

        $("select[name$='contactType']").each(function() {
            $(this).rules('add', {
                required : true
            });
        });


    });
</script>