<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>New Sale</title>
</head>
<body>
<div align="center">
    <h1>Enter New Person</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${people}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td> Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Family Name:</td>
                <td><input type="text" th:field="*{familyName}" /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" th:field="*{age}" /></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" th:field="*{address}" /></td>
            </tr>
            <tr>
                <td>Marriage:</td>
                <td><input type="text" th:field="*{marage}" /></td>
            </tr>
            <tr>
                <td>Nationality:</td>
                <td><input type="text" th:field="*{nationality}" /></td>
            </tr>

            <tr>
                <td>Education:</td>
                <td><input type="text" th:field="*{education}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>